@model IEnumerable<Clinica.Models.tbProfissional>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Cadastrar", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.tbCidade.nome)
        </th>
        @if (User.IsInRole("Gerente"))
        {
        <th>
            @Html.DisplayNameFor(model => model.tbContrato.IdContrato)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.tbContrato.tbPlano.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbTipoAcesso.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTipoProfissional)
        </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.IdUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRM_CRN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especialidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logradouro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DDD1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DDD2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tbCidade.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbContrato.IdContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbContrato.tbPlano.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbTipoAcesso.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoProfissional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CRM_CRN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logradouro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DDD1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DDD2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdProfissional }, htmlAttributes: new { @role = "button", @class = "btn btn-secondary btn-block active" })
                @Html.ActionLink("Detalhes", "Details", new { id = item.IdProfissional }, htmlAttributes: new { @role = "button", @class = "btn btn-secondary btn-block active" })
                @Html.ActionLink("Excluir", "Delete", new { id = item.IdProfissional }, htmlAttributes: new { @role = "button", @class = "btn btn-secondary btn-block active" })
            </td>
        </tr>
    }

</table>
<br />
@if (Model.Count() > 2)
{
<ul class="nav nav-pills">
    <li role="presentation" class=" active">
        <a href="@Url.Action("Edit", "tbProfissionals", new { id = Model.First().IdProfissional })">
            <span class="glyphicon glyphicon-list" aria-hidden="true" title="Ir para editar"></span>Editar Primeiro
        </a>
    </li>
</ul>
}